.display-component {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #858694;
  color: white;
  flex: 0 0 auto;
}

.display-component > p {
  font-size: 4.5rem;
  font-weight: 200;
  padding: 0.2rem 1rem 1rem 4rem;
  margin: 0px;
  text-align: right;
}
